<nav>
  <div class="mx-auto">
    <!-- TODO:HEADER CONTAINER -->
    <div
      class="
        relative
        flex-column
        items-center
        justify-between
        h-auto
        p-2
        shadow-lg
      "
      style="background-color: #000a1d"
    >
      <div class="flex-1 flex items-center justify-center iconSearch">
        <div class="flex-shrink-0 flex items-center bothPadding">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
            alt="Workflow"
          />
        </div>

        <div class="d-flex flex-row searchField">
          <div class="flex space-x-2 bothPadding">
            <form
              action="http://localhost:3000/search"
              class="input-group"
              method="get"
            >
              <div class="form-outline">
                <input
                  id="search-input"
                  type="search"
                  id="form1"
                  name="q"
                  style="color: rgb(185, 185, 185); background-color: #1b1b1b"
                  class="form-control"
                />
                <label class="form-label" style="color: white" for="form1"
                  >Search</label
                >
              </div>
              <button id="search-button" type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
          <!-- FIXME: -->

          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
              >&times;</a
            >

            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link">
                      <a href="http://localhost:3000/" id="alag">HOME</a>
                    </button>
                  </h5>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      MOVIES <i class="bi bi-caret-down-fill"></i>
                    </button>
                  </h5>
                </div>

                <div
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <a href="http://localhost:3000/category/LatestReleased"
                      >Latest Released</a
                    >
                    <a href="http://localhost:3000/category/HollywoodMovies"
                      >Hollywood Movies</a
                    >
                    <a href="http://localhost:3000/category/DualAudio"
                      >Dual Audio</a
                    >
                    <a href="http://localhost:3000/category/AdultMovies"
                      >Adult Movies</a
                    >
                    <a href="http://localhost:3000/category/WebSeries"
                      >Web-Series</a
                    >
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      GENRE <i class="bi bi-caret-down-fill"></i>
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <a href="http://localhost:3000/category/action">Action</a>
                    <a href="http://localhost:3000/category/adventure"
                      >Adventure</a
                    >
                    <a href="http://localhost:3000/category/animated"
                      >Animated</a
                    >
                    <a href="http://localhost:3000/category/comedy">Comedy</a>
                    <a href="http://localhost:3000/category/crime">Crime</a>
                    <a href="http://localhost:3000/category/fantasy">Fantasy</a>
                    <a href="http://localhost:3000/category/horror">Horror</a>
                    <a href="http://localhost:3000/category/mystery">Mystery</a>
                    <a href="http://localhost:3000/category/scifi">Sci-Fi</a>
                    <a href="http://localhost:3000/category/Romance">Romance</a>
                    <a href="http://localhost:3000/category/drama">Drama</a>
                    <a href="http://localhost:3000/category/thriller"
                      >Thriller</a
                    >
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      YEAR <i class="bi bi-caret-down-fill"></i>
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordion"
                >
                  <div class="card-body">
                    <a href="http://localhost:3000/category/2021MOVIES"
                      >2021 MOVIES</a
                    >
                    <a href="http://localhost:3000/category/2020MOVIES"
                      >2020 MOVIES</a
                    >
                    <a href="http://localhost:3000/category/2019MOVIES"
                      >2019 MOVIES</a
                    >
                    <a href="http://localhost:3000/category/2018">2018</a>
                    <a href="http://localhost:3000/category/2017">2017</a>
                    <a href="http://localhost:3000/category/2016">2016</a>
                    <a href="http://localhost:3000/category/2015">2015</a>
                    <a href="http://localhost:3000/category/2014">2014</a>
                    <a href="http://localhost:3000/category/2013">2013</a>
                    <a href="http://localhost:3000/category/2012">2012</a>
                    <a href="http://localhost:3000/category/2011">2011</a>
                    <a href="http://localhost:3000/category/2006-2010"
                      >2006-2010</a
                    >
                    <a href="http://localhost:3000/category/2001-2005"
                      >2001-2005</a
                    >
                    <a href="http://localhost:3000/category/1991-2000"
                      >1991-2000</a
                    >
                    <a href="http://localhost:3000/category/1980-1990"
                      >1980-1990</a
                    >
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0">
                    <button class="btn btn-link">
                      <a
                        href="http://localhost:3000/category/Bollywood"
                        id="alag"
                        >BOLLYWOOD</a
                      >
                    </button>
                  </h5>
                </div>
              </div>
            </div>
          </div>

          <span
            style="font-size: 30px; cursor: pointer"
            class="tog"
            onclick="openNav()"
            >&#9776;</span
          >
        </div>
      </div>
      <!-- FINISH CONTAINER -->

      <!-- TODO: NAVBAR BUTTONS -->
      <div class="btnHeader">
        <div class="row1">
          <a href="http://localhost:3000/">
            <div
              style="background-color: rgb(255, 255, 255)"
              class="dropbtn text-blue px-3 py-2 rounded-md text-sm font-medium"
            >
              HOME
            </div>
          </a>
          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              MOVIES <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="http://localhost:3000/category/LatestReleased"
                >Latest Released</a
              >
              <a href="http://localhost:3000/category/HollywoodMovies"
                >Hollywood Movies</a
              >
              <a href="http://localhost:3000/category/DualAudio">Dual Audio</a>
              <a href="http://localhost:3000/category/AdultMovies"
                >Adult Movies</a
              >
              <a href="http://localhost:3000/category/WebSeries">Web-Series</a>
            </div>
          </div>

          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              GENRE
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="http://localhost:3000/category/action">Action</a>
              <a href="http://localhost:3000/category/adventure">Adventure</a>
              <a href="http://localhost:3000/category/animated">Animated</a>
              <a href="http://localhost:3000/category/comedy">Comedy</a>
              <a href="http://localhost:3000/category/crime">Crime</a>
              <a href="http://localhost:3000/category/fantasy">Fantasy</a>
              <a href="http://localhost:3000/category/horror">Horror</a>
              <a href="http://localhost:3000/category/mystery">Mystery</a>
              <a href="http://localhost:3000/category/scifi">Sci-Fi</a>
              <a href="http://localhost:3000/category/Romance">Romance</a>
              <a href="http://localhost:3000/category/drama">Drama</a>
              <a href="http://localhost:3000/category/thriller">Thriller</a>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              YEAR
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="http://localhost:3000/category/2021MOVIES"
                >2021 MOVIES</a
              >
              <a href="http://localhost:3000/category/2020MOVIES"
                >2020 MOVIES</a
              >
              <a href="http://localhost:3000/category/2019MOVIES"
                >2019 MOVIES</a
              >
              <a href="http://localhost:3000/category/2018">2018</a>
              <a href="http://localhost:3000/category/2017">2017</a>
              <a href="http://localhost:3000/category/2016">2016</a>
              <a href="http://localhost:3000/category/2015">2015</a>
              <a href="http://localhost:3000/category/2014">2014</a>
              <a href="http://localhost:3000/category/2013">2013</a>
              <a href="http://localhost:3000/category/2012">2012</a>
              <a href="http://localhost:3000/category/2011">2011</a>
              <a href="http://localhost:3000/category/2006-2010">2006-2010</a>
              <a href="http://localhost:3000/category/2001-2005">2001-2005</a>
              <a href="http://localhost:3000/category/1991-2000">1991-2000</a>
              <a href="http://localhost:3000/category/1980-1990">1980-1990</a>
            </div>
          </div>
          <a href="http://localhost:3000/category/Bollywood">
            <div
              style="background-color: rgb(255, 255, 255)"
              class="dropbtn text-blue px-3 py-2 rounded-md text-sm font-medium"
            >
              BOLLYWOOD
            </div>
          </a>
          <a href="http://localhost:3000/category/WebSeries">
            <div
              style="background-color: rgb(255, 255, 255)"
              class="dropbtn text-blue px-3 py-2 rounded-md text-sm font-medium"
            >
              WEB-SERIES
            </div>
          </a>
        </div>

        <!-- <div class="row1">
          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              QUALITY
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="#">480P MOVIES</a>
              <a href="#">720P MOVIES</a>
              <a href="#">1080P MOVIES</a>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              TV SHOWS
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="#">Action Series</a>
              <a href="#">Adventure Series</a>
              <a href="#">Comedy Series</a>
              <a href="#">Crime Series</a>
              <a href="#">Drama Series</a>
              <a href="#">Horror Series</a>
              <a href="#">Mystery Series</a>
              <a href="#">Romance Series</a>
              <a href="#">Sci-Fi Series</a>
              <a href="#">Thriller Series</a>
            </div>
          </div>
          <div class="dropdown">
            <button
              class="
                dropbtn
                text-white
                px-3
                py-2
                rounded-md
                text-sm
                font-medium
              "
            >
              WEB SERIES
              <i class="bi bi-chevron-down"></i>
            </button>
            <div class="dropdown-content rounded-md shadow-lg">
              <a href="#">Hindi Dubbed</a>
              <a href="#">English</a>
              <a href="#">Netflix</a>
              <a href="#">Amazon Prime Video</a>
              <a href="#">Hulu</a>
              <a href="#">The CW</a>
            </div>
          </div>
          <a href="#">
            <div
              style="background-color: rgb(244, 244, 244)"
              class="dropbtn text-blue px-3 py-2 rounded-md text-sm font-medium"
            >
              BOLLYWOOD
            </div>
          </a>
        </div> -->
      </div>
      <!-- END FOOTER NAVBAR -->
    </div>
  </div>
</nav>
