<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>TEST</title>
    <!-- CSS LINK -->
    <link rel="stylesheet" href="/home.css" />
    <!-- TODO: Head-links -->
    <%- include("partials/links") %>
  </head>

  <body>
    <!-- Start your project here-->
    <div class="container-sm">
      <!-- NAVBAR here-- -->
      <%- include("partials/navbar") %>

      <!-- TODO: INNER-PLACE FIXING -->
      <div id="page" class="home_h1">
        <div id="content_box">
          <!-- FIXME: Posts-->
          <div class="random_posts">
            <section class="other_movies_head">
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BYWQ2NzQ1NjktMzNkNS00MGY1LTgwMmMtYTllYTI5YzNmMmE0XkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      No Time to Die (2021)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        8.1<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
              <div style="width: 2%; height: auto"></div>
              <div class="images_post">
                <img
                  width="284"
                  height="420"
                  src="https://m.media-amazon.com/images/M/MV5BYWVlMjVhZWYtNWViNC00ODFkLTk1MmItYjU1MDY5ZDdhMTU3XkEyXkFqcGdeQXVyODIwMDI1NjM@._V1_FMjpg_UX1000_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Baahubali: The Beginning (2015)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        8.7<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
            </section>
            <!-- second -->
            <section class="other_movies_head">
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Deadpool (2016)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.5<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
              <div style="width: 2%; height: auto"></div>
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Avengers:End Game (2019)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.9<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
            </section>

            <!-- third -->
            <section class="other_movies_head">
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BMDA5YjQwM2QtNmZkZi00ZTk3LTg1M2ItMTg3NzU1ZmQyNzc3XkEyXkFqcGdeQXVyMTI1NDEyNTM5._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Deadpool (2016)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.5<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
              <div style="width: 2%; height: auto"></div>
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BMjI0NmFkYzEtNzU2YS00NTg5LWIwYmMtNmQ1MTU0OGJjOTMxXkEyXkFqcGdeQXVyMjMxOTE0ODA@._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Avengers:End Game (2019)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.9<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
            </section>
            <!-- fourth -->
            <section class="other_movies_head">
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BNGFlOTVkMmMtOWE1OC00Y2Q1LThmNTctM2IxMWVkY2EyYjBlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_FMjpg_UX1000_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Deadpool (2016)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.5<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
              <div style="width: 2%; height: auto"></div>
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BN2U2NzcyYWQtYWRkNi00NWE2LWFlN2UtMjY0MzJkMWQzZDI2XkEyXkFqcGdeQXVyMTI1NDEyNTM5._V1_FMjpg_UX1000_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Avengers:End Game (2019)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.9<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
            </section>
            <!-- fifth -->
            <section class="other_movies_head">
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BYWFhZmNlZjAtMDViNi00ZmNkLTk4YzktY2RlNzM2NTIwYzE0XkEyXkFqcGdeQXVyMTIzMzg0MTM2._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Deadpool (2016)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.5<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
              <div style="width: 2%; height: auto"></div>
              <div class="images_post">
                <img
                  src="https://m.media-amazon.com/images/M/MV5BMjk1NzcwMDUtNDU4ZC00MzlhLTkzZjAtM2MxMTRjZGE0ODdhXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
                  alt=""
                  srcset=""
                />
                <div class="name_otherPosts p-4">
                  <div class="post_infor">
                    <h2 style="text-shadow: #fc0 1px 0 10px">
                      Avengers:End Game (2019)
                    </h2>
                    <hr />
                    <div
                      class="imdb_rateing justify-center"
                      style="align-items: center"
                    >
                      <i
                        class="fas fa-star"
                        style="color: rgb(244, 197, 24); margin-right: 1%"
                      ></i>
                      <h3 style="margin: 0px">
                        7.9<span style="color: #555555">/10</span>
                      </h3>
                    </div>
                    <hr />
                    <h3>Dual-audio {Hindi-English}</h3>
                    <hr />
                    <h3>480P-720P-1080P</h3>
                    <hr />
                    <h3>300MB,1GB,2.5GB</h3>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <!-- FIXME: Screen Shot-->
        </div>
      </div>

      <!-- TODO: FOOTER HERE -->
      <div class="foooter">
        <p>SITE NAME ©</p>
      </div>
    </div>

    <!-- JavaScript links -->
    <%- include('partials/js_links') %>
  </body>
</html>
