@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&family=Orbitron:wght@500&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&family=Orbitron:wght@500&family=Roboto+Mono&family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans&family=Orbitron:wght@500&family=Oswald&family=Roboto+Mono&family=Titillium+Web&display=swap");
.container-sm {
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  transition: margin-left 0.5s;
  z-index: initial;
}

/* TODO: NAVBAR CSS  */
nav {
  width: 100%;
}
a {
  text-align: center;
}
.iconSearch {
  margin-top: 1%;
  margin-bottom: 1%;
}
a .dropbtn {
  border: 3px solid rgb(244, 197, 24);
  color: rgb(0, 0, 0) !important;
}
.d-flex.flex-row.searchField {
  justify-content: end;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: row;
}

.dropbtn:hover {
  opacity: 0.95;
  border: 3px solid #ffffff;
  transition: 500ms;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.bi:hover {
  transform: rotate(0.5turn);
  transition: 500ms;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown button {
  background-color: rgb(31, 110, 235);
}
.dropdown {
  align-self: center;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
i.bi.bi-chevron-down {
  margin-left: 3px;
}
.btnHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.row1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1%;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

/* FIXME:  */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.btn.btn-link.ripple-surface.collapsed {
  width: 100%;
}
button.btn.btn-link {
  width: 100%;
}
.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  margin: 5%;
  display: block;
  transition: 0.3s;
}
#alag {
  margin: 0px;
}
.card {
  margin: 2%;
}
.sidenav button {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}
.sidenav a:hover {
  color: #f1f1f1;
}
span.tog {
  display: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  margin: 0px;
  right: 25px;
  font-size: 36px;
  color: white;
  margin-left: 50px;
}
/* FIXME: Random Section */
#page {
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 100px;
  clear: both;
  width: 100%;
  padding-top: 0px;
  padding: 1%;
  background-color: rgb(0, 10, 29);
}

.random_posts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.images_post img {
  width: 284px;
  height: 430px;
}
.other_movies_head {
  width: 100%;
  height: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: row;
}
.other_movies_head:last-child {
  margin-bottom: 3%;
}

.images_post {
  width: 47%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: auto;
  box-shadow: 0 3px 10px rgb(58 134 255 / 0.2);
  margin-top: 4%;
  background-color: rgb(22, 27, 34);
  font-family: "Oswald", sans-serif;
}
.images_post:hover {
  box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.9);
  transition: 700ms;
}
.images_post img:hover {
  opacity: 0.9;
}
.name_otherPosts {
  width: 100%;
  margin-left: auto;
  text-align: center;
  align-self: center;
  font-size: 25px;
  color: rgb(250, 249, 249);
}

.name_otherPosts button {
  font-family: "Roboto", sans-serif;
}
.name_otherPosts .imdb_rateing {
  display: flex;
  flex-direction: row;
}
/* Number-Bar */
.container {
  font-family: Arial Helvetica sans-serif;
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.pagination ul {
  margin: 1em auto;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style-type: none;
}
.pad {
  margin: 7px;
}
.pagination-2 {
  color: #000000;
}

.pagination-2 .pad .page-number {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  background-color: #f3f4f2;
}

.pagination-2 .pad .page-number:hover {
  background-color: #d9dcd6;
}

.page-number {
  display: inline;
}

.page-number a {
  text-decoration: none;
  color: black;
}

/* Pagination 2 */

.pagination-2 .active {
  border-radius: 4px;
  color: white;
  background-color: #16425b;
}

.pagination-2 .active:hover {
  background-color: #16425b;
}

.pagination-2 .active a {
  color: #ffffff;
}
/* TODO: footer */
.foooter {
  width: 100%;
  background-color: rgb(0, 10, 29);
  height: 50px;
  text-align: center;
}
.foooter p {
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  padding: 10px;
  bottom: 0px;
  margin-bottom: 0px;
}

/* --------------------------------------------------------------------------- */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* TODO:  MEDIA QUERYS*/
@media screen and (max-width: 360px) {
}

@media screen and (max-width: 480px) {
}
@media (max-width: 576px) {
  .btnHeader {
    display: none;
  }
  .flex-1.flex.items-center.justify-center.iconSearch {
    height: auto;
  }
  .bothPadding {
    padding: 10px;
    width: auto;
    margin-left: 15px;
  }
  span.tog {
    display: block;
    font-size: 23px;
    background-color: #6b6b6b;
  }
  .tog {
    display: block;
    color: white;
    height: auto;
    margin: 0px;
    border-radius: 9px;
    padding: 0px 5px;
    align-self: center;
  }
  .d-flex.flex-row.searchField {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 720px) {
}

@media (max-width: 1200px) {
  .btnHeader {
    flex-direction: column;
  }
  .row1 {
    padding: 3px;
  }
  .iconSearch {
    flex-direction: column;
  }
  .bothPadding {
    padding: 10px;
  }
  .d-flex.flex-row.searchField {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .toggle {
    display: none;
  }
}

/* SPECIALLY FOR TOGGLE BUTTON */
@media (max-width: 576px) {
  .d-flex.flex-row.searchField {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .Navbar__Items {
    flex-direction: column;
  }
}

/* -----------------NEW------------------- */
@media screen and (max-width: 1400px) {
  .post_infor h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1200px) {
  .info_section span {
    font-size: 24px;
  }
  .ss_inner {
    width: 100%;
  }
  .red_area {
    display: none;
  }
  .post_infor h3 {
    font-size: 1.25rem;
  }
  .images_post img {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .info_section span {
    display: none;
  }
  .more_info p {
    margin: 2% 4%;
  }
  .images_post {
    width: 70%;
  }
  .other_movies_head {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .info_section span {
    display: inline;
  }
  .post_title {
    flex-direction: column;
  }
  .post_title img {
    align-self: center;
  }
  .images_post {
    width: 90%;
  }
  .downloading {
    margin-left: 3%;
    margin-bottom: 3%;
  }
  .download_lable {
    margin-bottom: 3%;
  }
  .ss_lable {
    margin-bottom: 7%;
  }
}
@media screen and (width: 768px) {
  .info_section span {
    display: none;
  }
  .more_info p {
    margin: 1% 4%;
  }
  .post_infor h2 {
    font-size: calc(1.5rem + 0.9vw);
  }
  .post_infor h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .info_section span {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .info_section span {
    display: none;
  }
  .rect {
    margin-left: -18%;
  }
}

@media screen and (max-width: 415px) {
  .post_infor h3 {
    font-size: 1rem;
  }
  .post_infor h2 {
    font-size: calc(1rem + 0.9vw);
  }
  .images_post {
    flex-direction: column;
    margin-top: 10%;
  }
  .images_post img {
    width: max-content;
  }
  .random_posts .random_lable {
    margin-bottom: 5%;
  }
}

/* SAVAN MEDIA QUERY */
@media screen and (max-width: 400px) {
  span.tog {
    width: 30px;
    font-size: 23px;
    height: auto;
  }

  .form-outline {
    width: 150px;
  }

  .pagination-2 .page-number {
    padding: 4px 8px;
    color: #000000;
    background-color: #f3f4f2;
  }
}
